html, body {
    background-color: rgb(37, 37, 37);
    margin: 0;
    height: 100%;

    --blue: rgb(0, 113, 206);
}

body * {
    color: white;
}

.wrapper {
    box-sizing: border-box;
    height: 100%;
}

.header {
    border-bottom: 3px solid rgb(255, 255, 255);
    box-shadow: 0 -10px 10px -10px var(--blue) inset;
    padding: 20px;
    height: 100px;
    position: relative;
}

#title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#logo img {
    width: 70px;
    height: auto;
}


.content {
    display: flex;
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar-left {
    position: relative;
    width: 14%;
    border-right: 3px solid rgb(255, 255, 255);
    box-shadow: -10px 0px 10px -10px var(--blue) inset;
    height: 100%;
}

.sidebar-left ul {
    margin: 0;
    padding: 0;
    height: 95%;
}

.sidebar-left ul li {
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid white;
    cursor: pointer;

    transition: all .5s ease;
}

.sidebar-left ul li:hover {
    background-color: white;
    box-shadow: 0 0 10px var(--blue) inset;
}

.sidebar-left ul li:hover * {
    color: black;
}

#user-info {
    position: absolute;
    height: 5%;
    bottom: 0;
    width: 100%;
    display: flex;
}

#user-info * {
    width: 50%;
}

#site-content {
    width: 86%;
    height: 100%;
    position: relative;
}